$Primary40: #6750a4;
$Primary100: #ffffff;
$Primary90: #eaddff;
$Primary10: #21005d;

$Secondary40: #625b71;
$Secondary100: #ffffff;
$Secondary90: #e8def8;
$Secondary10: #1d192b;

$Tertiary40: #7d5260;
$Tertiary100: #ffffff;
$Tertiary90: #ffd8e4;
$Tertiary10: #31111d;

$Error40: #b3261e;
$Error100: #ffffff;
$Error90: #f9dedc;
$Error10: #410e0b;

$Neural99: #fffbfe;
$Neural10: #1c1b1f;
$Neural99: #fffbfe;

$Neutral-Variant90: #fffbfe;
$Neutral-Variant30: #49454f;
$Neutral-Variant50: #79747e;
