@mixin title_large {
  font-family: 'Ubuntu', 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

@mixin title_medium {
  font-family: 'Ubuntu', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.1px;
}

@mixin title_small {
  font-family: 'Ubuntu', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.1px;
}

@mixin label_large {
  font-family: 'Ubuntu', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.1px;
}

@mixin label_medium {
  font-family: 'Ubuntu', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 0.5px;
}

@mixin label_small {
  font-family: 'Ubuntu', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;

  letter-spacing: 0.5px;
}

@mixin body_large {
  font-family: 'Ubuntu', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.5px;
}

@mixin body_medium {
  font-family: 'Ubuntu', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.25px;
}

@mixin body_small {
  font-family: 'Ubuntu', 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 0.4px;
}

@mixin bold-text($color: $Neutral-Variant30) {
  font-weight: bold;
  font-size: 18px;
  color: $color;
  font-family: 'Ubuntu', 'Roboto';
}
