$PrimaryColor: #350c88;
$PrimaryColor60: #350c883f;
$Secondary: #b8d0ff;
$Third: #d7ccff;

$black: #000000d3;
$white: #ffffff;

$Error: #ea063f;

:export {
  Primary: $PrimaryColor;
  Secondary: $Secondary;
  Third: $Third;
  Black: $black;
  White: $white;
  Error: $Error;
}
