$PrimaryColor: #350c88;
$Secondary: #ea063f;
$Third: #d7ccff;
$black: #000000;
$white: #ffffff;

:export {
  Primary: $PrimaryColor;
  Secondary: $Secondary;
  Third: $Third;
  Black: $black;
  White: $white;
}
