.image_a {
  background: url(~/assets/ImageUsers/Dog1.png);
}
.image_b {
  background: url(~/assets/ImageUsers/Bison.png);
}
.image_c {
  background: url(~/assets/ImageUsers/Cow.png);
}
.image_d {
  background: url(~/assets/ImageUsers/Dog4.png);
}
.image_e {
  background: url(~/assets/ImageUsers/Dog5.png);
}
.image_f {
  background: url(~/assets/ImageUsers/Ant.png);
}
.image_g {
  background: url(~/assets/ImageUsers/Bear.png);
}
.image_h {
  background: url(~/assets/ImageUsers/Dog2.png);
}
.image_i {
  background: url(~/assets/ImageUsers/Buffalo.png);
}
.image_j {
  background: url(~/assets/ImageUsers/Cat1.png);
}
.image_k {
  background: url(~/assets/ImageUsers/Cat2.png);
}
.image_l {
  background: url(~/assets/ImageUsers/Cat3.png);
}
.image_m {
  background: url(~/assets/ImageUsers/Cat4.png);
}
.image_n {
  background: url(~/assets/ImageUsers/Cat5.png);
}
.image_o {
  background: url(~/assets/ImageUsers/Dog5.png);
}
.image_p {
  background: url(~/assets/ImageUsers/Duck.png);
}
.image_q {
  background: url(~/assets/ImageUsers/Eagle.png);
}
.image_r {
  background: url(~/assets/ImageUsers/Elephant.png);
}
.image_s {
  background: url(~/assets/ImageUsers/Fox.png);
}
.image_t {
  background: url(~/assets/ImageUsers/Giraffe.png);
}
.image_u {
  background: url(~/assets/ImageUsers/Snake.png);
}
.image_v {
  background: url(~/assets/ImageUsers/Moose.png);
}
.image_w {
  background: url(~/assets/ImageUsers/Squirrel.png);
}
.image_x {
  background: url(~/assets/ImageUsers/Tiger.png);
}
.image_y {
  background: url(~/assets/ImageUsers/Wolf.png);
}
.image_z {
  background: url(~/assets/ImageUsers/Zebra.png);
}
.image_special {
  background: url(~/assets/ImageUsers/Otter.png);
}

.image_a,
.image_b,
.image_c,
.image_d,
.image_e,
.image_f,
.image_g,
.image_h,
.image_i,
.image_j,
.image_k,
.image_l,
.image_m,
.image_n,
.image_o,
.image_p,
.image_q,
.image_r,
.image_s,
.image_t,
.image_u,
.image_v,
.image_w,
.image_x,
.image_y,
.image_z,
.image_special {
  background-repeat: no-repeat;
  background-size: contain;
}
