@mixin bold-text($color: DarkGray) {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: $color;
  font-family: 'raleway', sans-serif;
}

@mixin placeholder($color: $Secondary) {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color;
  }
}

@mixin ButtonHoverToTransparent($Color) {
  &:hover {
    background-color: transparent;
    -webkit-text-stroke: 1px $Color;
    border: 1px solid $Color;
  }
}
@mixin ButtonHoverToSolidColor($PrimaryColor, $Color) {
  &:hover {
    background-color: $PrimaryColor;
    color: $Color;
    border: none;
  }
}

@mixin FilterShadow($color: $PrimaryColor) {
  &:hover {
    box-shadow: 2px 4px 45px 3px $color;
  }
}
