$Primary10: #120463;
$Primary20: #292377;
$Primary30: #403c8f;
$Primary40: #5854a8;
$Primary50: #716dc3;
$Primary60: #8b87df;
$Primary70: #a5a2fc;
$Primary80: #c4c0ff;
$Primary90: #e3dfff;
$Primary95: #f2efff;
$Primary99: #fffbff;

$Secondary10: #1a1a2c;
$Secondary20: #2f2e42;
$Secondary30: #464559;
$Secondary40: #5e5c71;
$Secondary50: #77758b;
$Secondary60: #918ea5;
$Secondary70: #aba9c1;
$Secondary80: #c7c4dd;
$Secondary90: #e3e0f9;
$Secondary95: #f2efff;
$Secondary99: #fffbff;

$Tertiary10: #2f1123;
$Tertiary20: #472639;
$Tertiary30: #603b4f;
$Tertiary40: #7a5367;
$Tertiary50: #956b81;
$Tertiary60: #b1849b;
$Tertiary70: #cd9eb5;
$Tertiary80: #eab9d1;
$Tertiary90: #ffd8ea;
$Tertiary95: #ffecf3;
$Tertiary99: #fffbff;

$Neutral0: #000000;
$Neutral10: #1c1b1f;
$Neutral20: #313034;
$Neutral30: #47464a;
$Neutral40: #5f5e62;
$Neutral50: #78767a;
$Neutral60: #929094;
$Neutral70: #adaaaf;
$Neutral80: #c9c5ca;
$Neutral90: #e5e1e6;
$Neutral95: #f3eff4;
$Neutral99: #fffbff;
$Neutral100: #ffffff;

$Neutral-Variant0: #000000;
$Neutral-Variant10: #1b1b23;
$Neutral-Variant20: #302f38;
$Neutral-Variant30: #47464f;
$Neutral-Variant40: #5f5d67;
$Neutral-Variant50: #787680;
$Neutral-Variant60: #928f9a;
$Neutral-Variant70: #adaab4;
$Neutral-Variant80: #c8c5d0;
$Neutral-Variant90: #e4e1ec;
$Neutral-Variant95: #f3effa;
$Neutral-Variant99: #fffbff;
$Neutral-Variant100: #ffffff;

$Success10: #002115;
$Success20: #003827;
$Success30: #005139;
$Success40: #006c4d;
$Success50: #008862;
$Success60: #00a578;
$Success70: #39c091;
$Success80: #5bddab;
$Success90: #7afac6;
$Success95: #bdffdf;
$Success99: #f4fff7;

$Alert10: #1e1c00;
$Alert20: #353200;
$Alert30: #4c4800;
$Alert40: #666000;
$Alert50: #807a00;
$Alert60: #9b9411;
$Alert70: #b6af30;
$Alert80: #d3ca4a;
$Alert90: #efe763;
$Alert95: #fef56f;
$Alert99: #fffbff;

$Error10: #410002;
$Error20: #690005;
$Error30: #93000a;
$Error40: #ba1a1a;
$Error50: #de3730;
$Error60: #ff5449;
$Error70: #ff897d;
$Error80: #ffb4ab;
$Error90: #ffdad6;
$Error95: #ffedea;
$Error99: #fffbff;
